
.center {
  width: 350px;
  height: 85px;
  margin: 0 auto;
  padding: 10px;
  color: #f45d71;
  text-align:center;
}

main {
  background: white;
  margin: 20px 0;
  padding: 0px;
}

main div {
  background:#71BDEF;
  margin: 0 auto;
  color: rgb(6, 6, 6);
  padding: 15px;
  margin: 0px auto;
  h3{
    text-align:center;
  }

}


.answer{
  text-align:center;
}
.description{
  text-align:center;
  padding: 10px;
  margin: 0 auto;
}
