<div class="footer">
  <div class="flex-container">
      <div class="left">
        <div><%= image_tag "Logo.png" %></div>
        <div class="my-5"><p>Find your ideal Pet Match! Adopt the RIGHT dog or cat today on <strong>FourPaws</strong> has developed a 3-minute smart survey that matches people and pets based on compatibility. Answer questions relating to energy, confidence, focus, and independence - the four “Core Personality Quadrants”.</p></div>
        <div class="footer-links">
          <a href="#"><i class="fab fa-github"></i></a>
          <a hrefs="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
      <div class="right">
        <%= image_tag "ContactUs.png", class: "contat-form-img" %>
      </div>
    </div>
  </div>
</div>
