<!DOCTYPE html>
<html>
  <body>
    <div class = "center"><i class="fa-solid fa-heart"></i><h1>Application</h1></div>
    <div class = "d-flex justify-content-center">
      <main>
      <div>
        <h3>🤟When do you want to start?</h3>
        <%= simple_form_for [@animal, @request] do |f| %>
        <%= f.input :date %>
      </div>

      <div>
        <form action=<%= requests_path %>>
        <h3>🤩Your name:</h3><div class ="answer"><input type="text" name="name" placeholder = "Firstname Lastname"></div>
        <h3>📧Your email:</h3>
        <div class ="answer"><input type="text" name="email" placeholder= "gao@web.com"></div>
      </div>

      <div>
         <h3>🏠Where are you living?</h3>
     <%#  <label for="city">
      </label><br> %>
        <div class ="answer">
        <select name="city" id="city">
            <option value="Munich">Munich</option>
            <option value="Nürnburg">Nürnburg</option>
            <option value="Würzrg">Würzburg</option>
            <option value="Regensburg">Regensburg</option>
            <option value="Augsburg">Augsburg</option>
            <option value="Ingolstadt">Ingolstadt</option>
        </select>
        </div>
      </div>
 <!-- Question 2 -->
    <div>
      <h3>How long do you plan to support this pet?</h3>
      <!-- Here are the choices for the second question. Notice how each input tag has the same name (q2), but a different name than the previous question. -->
      <label><input type="radio" name="q1" value="c1">
        1 month
      </label><br />
      <label><input type="radio" name="q1" value="c2">
        3 months
      </label><br />
      <label><input type="radio" name="q1" value="c3">
        6 months
      </label><br />
      <label><input type="radio" name="q1" value="c4">
        1 year
      </label><br />
    </div>

  <!-- Question 3 -->
    <div>
      <h3>How much do you plan to support this pet?</h3>
      <p><strong>🐶Don't forget large dogs can eat a lot</strong> </p>
      <!-- Here are the choices for the second question. Notice how each input tag has the same name (q2), but a different name than the previous question. -->
      <label><input type="radio" name="q2" value="c1">
        20 euros per month
      </label><br />
      <label><input type="radio" name="q2" value="c2">
        30 euros per month
      </label><br />
      <label><input type="radio" name="q2" value="c3">
        40 euros per month
      </label><br />
      <label><input type="radio" name="q2" value="c4">
        55 euros per month
      </label><br />
    </div>

    <div>
      <!-- Question 4-->
      <h3>Which adopation way do you prefer?</h3>
      <!-- Choices for the third question -->
      <label><input type="radio" name="q3" value="c1">
        100% remote(only see the pet in videos)
      </label><br />
      <label><input type="radio" name="q3" value="c2">
        50% remote(visit the pet in shelter at the weekend)
      </label><br />
      <label><input type="radio" name="q3" value="c3">
        25% remote(take the pet home at the weekend)
      </label><br />
      <label><input type="radio" name="q3" value="c4">
        0% remote(I want to bring it home)
      </label><br />
    </div>

      <div>
      <!-- Question 5-->
      <h3>Is there anything else we should know?</h3>
          <label for="Description"></label>
          <div class ="description"><textarea rows="5" cols="50" name="Description"
                              id="Description" placeholder = "Tell us about you"></textarea></div>
      </div>
      </main>
    </div>


      <div style="text-align:center">
        <input type="submit" value="Confirm" class="btn btn-flat"><br>
        <br><p><%= link_to "Go back to my matches",animals_path, class: "btn btn-flat" %></p>
      </div>


    <% end %>

    </form>

  </body>
</html>
