
 <div class="cards">

   <h2>Requests</h2>

   <% @requests.each do |request| %>
      date: <%= request.date %>
      status: <%= request.status %>
   <% end %>
   <%# <p>Application to Leo</p>
   <p>Application sending date: 2022.09.02</p>
   <p>Status: Pending</p> %>

</div>
<%= link_to "Go back to homepage", root_path, :class => "btn btn-flat"%>
