<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%=image_path("DogUp.png")%>);">
  <div class="banner-container">
    <div class="banner-flex">
      <div>
        <h1>Adopt dont shop!</h1>
        <p>There are a thousand different methods to care for a pet; discover yours! Find your perfect <br><strong> match!</strong></p>
      </div>
      <div class="wrap" >
        <button class="button">Find your match</button>
      </div>
    </div>
  </div>
</div>

<!-- middlepart-->
<div>
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Breakfast
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
    Lunch
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
    Dinner
  </div>
</div>
</div>
