<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%=image_path("DogUp.png")%>);">
  <div class="banner-container">
    <div class="banner-flex">
      <div>
        <h1>Adopt dont shop!</h1>
        <p>There are a thousand different methods to care for a pet; discover yours! Find your perfect <br><strong> match!</strong></p>
      </div>
      <div class="wrap" >
        <button class="button">Find your match</button>
      </div>
    </div>
  </div>
</div>

<!-- middlepart-->
<div>
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%=image_path("PuppyEyes.png")%>)">
    About us
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%=image_path("fancy_cat.png")%>)">
    Our Mission
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%=image_path("cat_mystery.png")%>)">
    Browse Shelters nearby
  </div>
</div>
</div>
