<div>
<div>
    <% @animals.each do |animal|%>

        <div>
          <div>
            <h3><%= link_to "#{animal.category}", animal_path(animal) %></h3>
            <p>price: <%= animal.gender %></p>
            <p>size: <%= animal.size %></p>
            <p>score: <%= animal.score(params) %></p>
          </div>
        </div>
      </div>
    <%end%>
</div>
