<div class ="container pt-3" >
<div class="cards">
    <% @animals.each do |animal|%>
      <div class="cardos">
      <% if animal.photo.attached? %>
       <%= cl_image_tag animal.photo.key, height: 300, width: 200, crop: :fill %>
       <% else %>
       <%= image_tag "not_found.png", height: 300, width: 200, crop: :fill%>
       <% end %>
        <div class="card-content">
          <div class="card-text">
            <h3 class="choose-button"><%= link_to "#{animal.name}".capitalize, animal_path(animal), class: "no-decoration" %></h3>
          </div>
        </div>
        <p class="fa-sharp fa-solid fa-heart"><%=animal.score(params)%></p>
      </div>
    <%end%>
</div>
