<div class="pet-show">
  <div class="row justify-content-center">
    <div class="col-6">

      <div class="pet-card">
          <div class="pet-banner"><svg viewBox="0 0 100 100">

              </svg></div>
          <div class="pet-menu">
              <div class="opener"><span></span><span></span><span></span></div>
          </div>
          <h2 class="name"></h2>
          <div class="title">Ant Collector</div>
          <div class="actions">
              <div class="follow-info">
                  <h2><a href="#"><span>12</span><small>Followers</small></a></h2>
                  <h2><a href="#"><span>1000</span><small>Following</small></a></h2>
              </div>
              <div class="follow-btn"><button>Follow</button></div>
          </div>
          <div class="desc">Morgan has collected ants since they were six years old and now has many dozen ants but none in their pants.</div>
      </div>
    </div>
  `<div class="col-6">
    <div class="pet-card">
        <div class="pet-banner"><svg viewBox="0 0 100 100">

            </svg></div>
        <div class="pet-menu">
            <div class="opener"><span></span><span></span><span></span></div>
        </div>
        <h2 class="name">Morgan Sweeney</h2>
        <div class="title">Ant Collector</div>
        <div class="actions">
            <div class="follow-info">
                <h2><a href="#"><span>12</span><small>Followers</small></a></h2>
                <h2><a href="#"><span>1000</span><small>Following</small></a></h2>
            </div>
            <div class="follow-btn"><button>Follow</button></div>
        </div>
        <div class="desc">Morgan has collected ants since they were six years old and now has many dozen ants but none in their pants.</div>
    </div>
  </div>`
</div>
