.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 375px;
  padding: 0px 10px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: rgb(255, 108, 108);
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

//extra containers
.flex-container {
  display: flex;
  background-color: rgb(255, 255, 255);
  height: 100%;
}

.flex-container .right {
  background-color: #f1f1f1;
  margin: 20px;
  padding: 10px;
  font-size: 21px;
}
.flex-container .left {
  max-width: 65%;
  background-color: #f1f1f1;
  margin: 20px;
  padding: 10px;
  font-size: 21px;
}

.right {
  width: 35%;
  .contat-form-img {
    width: 100%;
  }
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
