.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.nav-link2 {
  color: rgb(255, 163, 163);
  padding: 8px 24px;
  border-radius: 4px;
  background: #ffffff;
  transition: background 0.3s ease;
  margin-right: 7px;
  text-decoration: none
}

.nav-link2:hover {
  background:  rgb(255, 163, 163);
  color: white;
}
